

.grid-container {
    display: grid;
    gap: 1.5rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    grid-template-rows: auto;
}

body {
    grid-template-areas: 
        "nav nav"
        "ban img"
        "card card"
        "foot foot"
    ;
}

header nav {
    grid-area: "nav"
}

main .banner {
    grid-area: "ban";
}

main #img {
    grid-area: "img";
}

#cards {
    grid-area: "card";
    
}

footer {
    grid-area: "foot";
    background-color: var(--accent );
}

.card {

}
