/*  RESETS  */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles*/

:root {
  --background: #F5F3EF;
  --card: #FFFFFF;
  --accent: #FEBD2F;

  --text-primary: #000000;
  --text-secondary: #646464;
  --outline: #DCDCDC;

  --font-family: 'Roboto Serif', serif;

  --border-radius: 4rem;
}

html,
body {
  background-color: var(--background);
  font-family: var(--font-family);
}

.container {
  display: grid;
  gap: 2rem;
  align-content: center;
  justify-items: center;
  padding: 1rem 2rem;
}


.flex {
  display: flex;
  align-items: center;
}

.subheader,
.description {
  color: var(--text-secondary)
}

/* Page style */

button {
  border-radius: var(--border-radius);
  border: none;
  outline: .5px solid var(--outline);
  padding: .5rem 1rem;

}


/* navbar and footer style */

header,
footer {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 60px;
}

header {
  padding: 1rem 0;
}

footer {
  margin-top: 2rem;
  background-color: var(--accent);
}


header img,
footer img {
  margin: 1rem;
}

nav a {
  color: var(--text-primary);
  text-decoration: none;
  padding: 1rem 1.5rem;
}



header button {
  background-color: var(--text-primary);
  color: var(--card);
  border: none;
  outline: 1px solid transparent;
}



/* Banner style */

.banner {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

.heading {
  grid-column: 1;
  max-width: 80%;
  padding: 20px;
  margin: 5px;
}

h1 {
  font-size: 4vw;
  margin-bottom: 1rem;
}


.banner img {
  grid-column: 2;
  width: auto;
  min-width: 350px;
  padding: 20px;
  margin: 5px;
}




/*  Card container styles */
.cards {
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: .5rem auto;
}

/* card styles */


#card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  background-color: var(--card);
  padding: 1.5rem 2rem;
  margin: 1rem .5rem;
  text-align: start;
  width: clamp(280px, 75%, 400px);
  aspect-ratio: 15/14;
  border-radius: var(--border-radius);
}


.card-header {
  font-size: clamp(1em, 1.25vw, 2em);
  font-weight: bold;
  line-height: 23px;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

#card img {
  position: absolute;
  top: -2.5rem;
  right: 1.5rem;
  transform: scale(75%);
}

#card button {
  background-color: var(--card);
  color: var(--text-primary);
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

/* First card */
#card.one {
  background-color: var(--accent);
  font-size: clamp(1.5em, 2vw, 2.5em);
  padding: 1rem 2rem;
  aspect-ratio: 15/14;
}


/* hover effects */

button:hover {
  cursor: pointer;
  color: var(--accent);
  outline: 1px solid var(--accent);
}

nav a:hover {
  text-decoration: underline;
  background-color: var(--accent);
  border-radius: var(--border-radius);
}

/* Media queries*/

@media screen and (max-width: 920px) {
  header {
    justify-content: space-evenly;
  }

  nav a{
    padding: 1rem .75rem;
  }
  
  .banner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }



  .cards {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  #card.one {
    align-items: flex-start;
  }
}

@media screen and (max-width: 620px) { 
  header {
    justify-content: center;
  }

  header button,
  header nav a {
    display: none;
  }

  h1 {
    font-size: 2em;
  }

  .banner img {
    width: 95%;
  }

  .cards {
    grid-template-columns: auto;
    gap: .5rem;
  }

  #card.one {
    aspect-ratio: auto;
    height: 200px;
    font-size: 2.25em;
    padding: 1rem 2rem;
  }

}