html, body {
  height: 100%;
  width: 100%;

}

/* resets */
* {
  padding: 0;
  margin: 0;
}

/* Global styles*/

:root {
  --background: #F5F3EF;
  --card: #FFFFFF;
  --accent: #FEBD2F;

  --text-primary: #000000;
  --text-secondary: #646464;
  --outline: #DCDCDC;

  --font-family: 'Roboto Serif', serif;

  --border-radius: 32px;
}

body {
  background-color: var(--background);
  font-family: var(--font-family);
}

main {
  background-color: aquamarine;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  
}

nav, footer {
  border: 1px green solid;
  width: auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navlinks a {
  margin-right: 2rem;
  color: var(--text-primary);
  text-decoration: none;
}

footer {
  background-color: var(--accent);
  justify-content: center;
}

button {
  border-radius: 28px;
  width: 130px;
  height: 50px;
  margin: .5rem;
  background-color: var(--text-primary);
  color: var(--card);
}

p.subheader, p.description {
  color: var(--text-secondary)
}

.logo {
  margin: .25rem 3rem;
}

section.banner {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*  Cards styles */
.cards-container {
  border: 1px solid red;

  display: flex;
  flex-wrap: wrap;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 /* display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit minmax(350px, 1fr));
  grid-auto-rows: 350px; */
}

.card {
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: start;
  background-color: var(--card);
  padding: 1.5rem 2rem;
  min-width: 300px;
  min-height: 275px;
  max-width: 400px;
  max-height: 350px;
}

.card p.card-header {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 23px;
  color: var(--text-primary);
}

.card img {
  position: absolute;
  width: 50px;
  right: 1.75rem;
  top: -1.75rem;
}

.card button {
  background-color: var(--card);
  border: 1px solid var(--outline);
  color: var(--text-primary);
}

.cards-container>:first-child {
  background-color: var(--accent);
  font-size: 2.25em;
  text-align: start;
}






/* Media queries 
@media only and screen (max-width: 800px) {}

@media only and screen (max-width: 500px) {}

*/