html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Global styles*/

:root {
  --background: #F5F3EF;
  --card: #FFFFFF;
  --accent: #FEBD2F;

  --text-primary: #000000;
  --text-secondary: #646464;
  --outline: #DCDCDC;

  --font-family: 'Roboto Serif', serif;

  --border-radius: 32px;
}

body {
  background-color: var(--background);
  font-family: var(--font-family);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  justify-content: start;
  justify-items: center;
  align-content: flex-start;
}

main .banner-text {

  grid-column: 1;
  grid-row: 1;
  width: 60%;
  padding: 20px;
  margin: 5px;
}

main #image {
  grid-column: 2;
  grid-row: 1;
  padding: 20px;
  margin: 5px;
}



nav, footer {

  width: auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navlinks a, .logo {
  color: var(--text-primary);
  text-decoration: none;
  padding: 1rem 1.5rem;
}

.navlinks a:hover {
  text-decoration: underline;
  background-color: var(--accent);
  border-radius: var(--border-radius);
}

footer {
  background-color: var(--accent);
  justify-content: center;
}

button {
  border-radius: 28px;
  width: 130px;
  height: 50px;
  margin: .5rem;
  background-color: var(--text-primary);
  color: var(--card);
  border: 1px solid transparent;
}

button:hover {
  cursor: pointer;
  color: var(--accent);
  border: 1px solid var(--accent);
}

p.subheader, p.description {
  color: var(--text-secondary)
}

.logo {
  margin: .25rem 3rem;
}



/*  Cards styles */
.cards-container {

  grid-column: span 2;
  grid-row: span 2;
  
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

.card {
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  background-color: var(--card);
  padding: 1.5rem 2rem;
  text-align: start;
  max-width: 400px;
  max-height: 350px;
}

.card .card-header {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 23px;
  color: var(--text-primary);

  margin-bottom: 1rem;
}

.card img {
  position: absolute;
  width: 50px;
  right: 1.75rem;
  top: -1.75rem;
}

.card button {
  background-color: var(--card);
  border: 1px solid var(--outline);
  color: var(--text-primary);
  position: absolute;
  bottom: 1rem;
  left: 1.25rem;
}

.cards-container>:first-child {
  background-color: var(--accent);
  font-size: 2.25em;
  text-align: start;
}






/* Media queries 
@media only and screen (max-width: 800px) {}

@media only and screen (max-width: 500px) {}

*/