html, body {
  height: 100%;
  width: 100%;

}

/* resets */
* {
  outline: 2px solid limegreen !important;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Serif', serif;
}

/* Global styles*/

:root {
  --background: #F5F3EF;
  --card: #FFFFFF;
  --accent: #FEBD2F;

  --text-primary: #000000;
  --text-secondary: #646464;
  --outline: #DCDCDC;

  --border-radius: 32px;
}

body {
  background-color: var(--background);
}

main {
  width: 100%;
  display: grid;
  gap: 4rem 1rem;
  grid-template-areas: 
    "banner banner"
    "cards cards";
  justify-items: center;
}



nav, footer {
  width: auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navlinks a {
  margin-right: 2rem;
  color: var(--text-primary);
  text-decoration: none;
}

footer {
  background-color: var(--accent);
  justify-content: center;
}

button {
  border-radius: 28px;
  width: 130px;
  height: 50px;
  margin: .5rem;
  background-color: var(--text-primary);
  color: var(--card);
}


h1 {
  font-size: 64px;
}

p.subheader, p.description {
  color: var(--text-secondary);
  margin: 1rem 0;
}

.logo {
  margin: .25rem 3rem;
}

header .logo {
  margin: .25rem 3rem;
  position: absolute;
  left: 42%;
  top: 20px;
}

.banner {
  grid-area: banner;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  height: auto;
  width: 80%;
  margin: 2rem 0;
}

.banner div {
  display: block;
  max-width: 600px;
 }

.banner img {
  max-width: 600px;
}

/*  Cards styles */
.cards-container {
  grid-area: cards;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  min-height: 600px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.card {
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: start;
  background-color: var(--card);
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  width: 55%;
  height: 50%;
  max-width: 400px;
  max-height: 350px;
}

.card p.card-header {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 23px;
  color: var(--text-primary);
  margin-bottom: .5rem;
}

.card img {
  position: absolute;
  width: 50px;
  right: 1.75rem;
  top: -1.75rem;
}

.card button {
  background-color: var(--card);
  border: 1px solid var(--outline);
  color: var(--text-primary);
  position: absolute;
  bottom: 1rem;
  left: 1.5rem
}

.cards-container>:first-child {
  background-color: var(--accent);
  font-size: 2.25em;
  text-align: start;
}







@media only screen and (max-width: 500px) {
  .banner {
    justify-content: center;
    text-align: center;
  }

  header .logo {
    left: 34%;
  }
}

@media only screen and (max-width: 800px) {
  .banner {
    justify-content: space-between;
    align-content: center;
  }
} 
