* {
  box-sizing: border-box;
  outline: 2px limegreen solid !important;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "nav nav"
    "head head"
    "cards cards"
    "ft ft"
    ;
  align-items: stretch;
  justify-items: center;
}

nav {grid-area: nav;}


.navlinks a {
  margin: 0 1rem;
}

.header {
  grid-area: head;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  width: 70%;
  margin: 2rem;
  padding: 1rem;
}

.cards-wrapper {
  grid-area: cards;
  width: 70%;
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5rem;
  
}

footer {
  grid-area: ft;
  margin-top: 2rem;
}


nav, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

button {
  border-radius: 4rem;
  padding: .5rem 1rem;
  border: 2px solid transparent;
}

nav button {
  background-color: black;
  color: white;
}

#text, 
picture {
  min-width: 400px;
  min-height: 350px;
}

.card {
  width: 100%;
  height: 90%;
  max-width: 350px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  border-radius: 4rem;
  padding: 2rem 2.5rem;
  position: relative;
}

#card-title, h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: .5rem;
}

#card-content, .header p {
  color: grey;
}

.card button {
  background-color: white;
  border: .5px solid gray;
  
  position: absolute;
  bottom: 2rem;
}

#card-svg {
  position: absolute;
  right: 3rem;
  top: -1rem;
}


#logo {
  margin: 0 30%;
}